body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root{
  flex-grow: 1;
  width: 100%;
  background-color: white;
}

.tabs{
  padding-left: 10;
  padding-right: 10;
}

.tab{
  font-size: min('10px', '2vw');
  color: 'white';
  font-weight: 'bold';
}